@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;

    font-family: "Book Antiqua",
        "Zen Old Mincho",
        "Hiragino Mincho ProN",
        "Yu Mincho",
        "MS PMincho",
        serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {

    vertical-align: bottom;
    border: none;
}

button {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
}