@charset "utf-8";

body {
    background: #fff6e8;
}

.ribbon {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    pointer-events: none;
}

.ribbon img {
    display: block;
    width: 100%;
}


.sidebar {
    position: sticky;
    top: 45px;
    left: 45px;
    width: 240px;
    transition: 0.8s;
}

.icon {
    width: 13vw;
    display: block;
    margin-bottom: 105px;
}

.side-menu {
    margin-top: 100px;
    margin-left: 100px;
    font-size: 27px;
    color: #9b0015;
}

.side-menu a {
    text-decoration: none;
}

.side-menu ul {
    list-style: none;
}

.side-menu li {
    margin-bottom: 30px;
    font-size: 27px;
    position: relative;
}

.side-menu li::before {
    content: "";
    position: absolute;
    background: #9b0015;
    top: 50%;
    left: -40px;
    width: 25px;
    height: 1px
}

.gift {
    width: 53%;
    margin-top: 180px;
    margin-left: 183px;

}

.top {
    width: 49%;
    margin-left: auto;
    padding-bottom: 130px;
}

.main {
    font-size: 52px;
    line-height: 1.6;
    color: #9b0015;
}

.sub {
    font-size: 23px;
    line-height: 1.7;
    color: #9b0015;
    width: 70%;
    margin-left: auto;
    padding-top: 90px;
}

#ABOUT {
    background: #d6cfc4;
}

h2 {
    text-align: center;
    font-size: 73px;
    line-height: 1.8;
    color: #9b0015;
}

.ABOUT {
    padding-top: 120px;
    padding-bottom: 105px;
    margin: 0 auto;
}

.about-wrap {
    width: 470px;
    margin: 0 auto;
    position: relative;

}

.about1 {
    position: absolute;
    right: 121%;
}

.photo {
    box-sizing: border-box;
    padding: 75px 70px;
    border: solid 1px #9b0015;
    border-radius: 118px;
}

.photo img {
    display: block;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    border-radius: 58px;
}

.uemura {
    font-size: 51px;
    line-height: 1.3;
    color: #9b0015;
}

.name {
    font-size: 16px;
    line-height: 3.1;
    color: #9b0015;
}

.birthday,
.kyoto {
    font-size: 26px;
    line-height: 1.8;
    color: #9b0015;
}

.syoukai {
    font-size: 18px;
    line-height: 1.8;
    color: #9b0015;
    position: absolute;
    bottom: 0;
    left: 130%;
    width: 243px;

}

.view-btn {
    display: flex;
    justify-content: flex-end;
    padding: 80px 120px 115px 0;
}

.view-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 58px 0 65px;
    height: 66px;
    box-sizing: border-box;
    background: #9b0015;
    color: #fff6e8;
    font-size: 24px;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 5px 12px #949494, -6px -6px 12px #e4edf9;
}

.WORK {
    padding-top: 125px;
    padding-bottom: 105px;
}

.swiper-wrapper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    transition: scale 0.5s;
    scale: 0.8;
}

.swiper-slide-active {
    scale: 1;
    z-index: 2;
}

.triangle {
    width: 0;
    height: 0;
}


.nav-btn {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 1px solid rgba(155, 14, 21, 0.6);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.work-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 370px;
    margin-top: 77px;
}

.work-lines {
    display: flex;
    align-items: center;
    gap: 30px;
}

.work-lines .line {
    width: 70px;
    height: 1.5px;
    background: #949494;
}

.work-lines .line.is-active {
    background: #9b0015;
    opacity: 1;
}

.triangle.left {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid #9b0015;
}

.triangle.right {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #9b0015;
}

.view-btn2 {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 135px;
}

#contact {
    background: #d6cfc4;
    padding-top: 135px;
    padding-bottom: 190px;
}

.contact-sub {
    text-align: center;
    color: #c94b4b;
    margin-top: 8px;
    margin-bottom: 60px;
}

.contact-form {
    width: 505px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.form-row label {
    width: 160px;
    color: #c94b4b;
    font-size: 20px;
    text-align: center;
}

.form-row input,
.form-row textarea {
    flex: 2;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #9b0015;
    font-size: 14px;
    background: #fff;
}

.form-row.textarea {
    align-items: flex-start;
}

.form-row textarea {
    height: 140px;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: #ddcccc(201, 192, 184, 0., 7);
}

footer {
    background: #d6cfc4;
    text-align: center;
    font-size: 12px;
    padding: 40px 0;
}


/* ===== ABOUT ===== */
.about {
    padding-top: 310px;
}

.section-sub {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 170px;
    color: #666666;
}

.about-profile {
    display: flex;
    justify-content: center;
    gap: 60px;
}


.profile-text p {
    font-size: 20px;
    color: #666666;
}

.profile-text1 {
    padding-top: 58px;
    padding-bottom: 25px
}

.profile-text2 {
    padding-bottom: 25px;
}


.about-message {
    max-width: 745px;
    margin: 0 auto;
    padding-top: 300px;
    color: #666666;
    font-size: 26px;
    line-height: 1.7;
}

/* ===== SKILL ===== */
.skill {
    padding-top: 120px;
}

.skill-list {
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-bottom: 200px;
}

.skill-item {
    text-align: center;
}

.skill-item img {
    width: 17%;
    margin-bottom: 60px;
}

.skill-item h3 {
    margin-bottom: 30px;
    font-size: 22px;
    color: #666666;
}

.skill-item p {
    font-size: 22px;
    color: #666666;
}


.view-btn-otoiawase {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.box-otoiawase {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 53px 0 30px;
    height: 66px;
    box-sizing: border-box;
    background: #9b0015;
    color: #fff6e8;
    font-size: 16px;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: 0px 5px 12px #949494, -6px -6px 12px #e4edf9;
}

/* ===== WORK ===== */

.work {

    padding: 80px 20px 140px;

}



.work-list {

    max-width: 720px;

    margin: 0 auto;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 80px 60px;

}



/* カード */

.work-item {

    width: 35%;

}