@charset "utf-8";

body {
    background: #fff6e8;
}

.icon {
    width: 13%;
    margin-top: 48px;
    margin-left: 55px;
}

.menu {
    margin-top: 100px;
    margin-left: 75px;
    font-size: 27px;
    color: #9b0015;
}

.ribbon {
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
}

.ribbon img {
    display: block;
    width: 100%;
}

.gift {
    width: 53%;
    position: absolute;
    top: 570px;
    left: 180px;
}

.main {
    font-size: 52px;
    line-height: 1.6;
    color: #9b0015;

}

.sub {
    font-size: 23px;
    line-height: 1.7;
    color: #9b0015;
}

#ABOUT {
    background: #d6cfc4;
}

h2 {
    font-size: 73px;
    line-height: 1.8;
    color: #9b0015;
}

.ABOUT {
    padding-top: 120px;
    margin: 0 auto;
}