@charset "utf-8";

body {
    background: #fff6e8;
}

.ribbon {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

.ribbon img {
    display: block;
    width: 100%;
}

header {
    padding-top: 48px;
}

.icon {
    width: 13%;
    margin-left: 55px;
}

.menu {
    margin-top: 100px;
    margin-left: 75px;
    font-size: 27px;
    color: #9b0015;
}


.gift {
    width: 53%;
    margin-top: 180px;
    margin-left: 183px;

}

.top {
    width: 49%;
    margin-left: auto;
    padding-bottom: 130px;
}

.main {
    font-size: 52px;
    line-height: 1.6;
    color: #9b0015;
}

.sub {
    font-size: 23px;
    line-height: 1.7;
    color: #9b0015;
    width: 70%;
    margin-left: auto;
    padding-top: 90px;
}

#ABOUT {
    background: #d6cfc4;
}

h2 {
    text-align: center;
    font-size: 73px;
    line-height: 1.8;
    color: #9b0015;
}

.ABOUT {
    padding-top: 120px;
    padding-bottom: 105px;
    margin: 0 auto;
}

.about-wrap {
    width: 470px;
    margin: 0 auto;
    position: relative;

}

.about1 {
    position: absolute;
    right: 121%;
}

.photo {
    box-sizing: border-box;

    padding: 75px 70px;
    border: solid 1px #9b0015;
    border-radius: 118px;
}

.photo img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 58px;
}

.uemura {
    font-size: 51px;
    line-height: 1.3;
    color: #9b0015;
}

.name {
    font-size: 16px;
    line-height: 3.1;
    color: #9b0015;
}

.birthday,
.kyoto {
    font-size: 26px;
    line-height: 1.8;
    color: #9b0015;
}

.syoukai {
    font-size: 18px;
    line-height: 1.8;
    color: #9b0015;
    position: absolute;
    bottom: 0;
    left: 140%;
    width: 243px;

}

.WORK {
    padding-top: 125px;
    padding-bottom: 105px;
}

.work-wrap {
    display: flex;
    justify-content: center;
}

.work-wrap img {
    width: 28%;
}